<a href="https://colab.research.google.com/github/greyhound101/IEEE-CIS-Fraud/blob/master/Cleaning_Preprocessingand_adding_columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Getting data

In [1]:
import os
os.environ['KAGGLE_USERNAME'] = "tapaskd123" # username from the json file
os.environ['KAGGLE_KEY'] = "aba8dc1f085221111d925003fe5a88ed" # key from the json file
!kaggle competitions download -c ieee-fraud-detection

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading train_identity.csv.zip to /content
  0% 0.00/3.26M [00:00<?, ?B/s]
100% 3.26M/3.26M [00:00<00:00, 53.5MB/s]
Downloading sample_submission.csv.zip to /content
  0% 0.00/1.14M [00:00<?, ?B/s]
100% 1.14M/1.14M [00:00<00:00, 156MB/s]
Downloading train_transaction.csv.zip to /content
 94% 55.0M/58.3M [00:01<00:00, 30.2MB/s]
100% 58.3M/58.3M [00:01<00:00, 43.2MB/s]
Downloading test_transaction.csv.zip to /content
 92% 48.0M/52.2M [00:01<00:00, 27.0MB/s]
100% 52.2M/52.2M [00:01<00:00, 38.6MB/s]
Downloading test_identity.csv.zip to /content
  0% 0.00/3.21M [00:00<?, ?B/s]
100% 3.21M/3.21M [00:00<00:00, 211MB/s]

Loading drive

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')
drive.mount("/content/gdrive", force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive
Mounted at /content/gdrive

Reading datasets

In [3]:
import pandas as pd
import numpy as np
trn=pd.read_csv('train_transaction.csv.zip')
isFraud=trn['isFraud']
trn=trn.drop(['isFraud'],1)
tst=pd.read_csv('test_transaction.csv.zip')
trn_idn=pd.read_csv('train_identity.csv.zip')
tst_idn=pd.read_csv('test_identity.csv.zip')

Merging datasets

In [4]:
train=trn.merge(trn_idn,on='TransactionID',how='left')
test=tst.merge(tst_idn,on='TransactionID',how='left')
import gc
del([trn,tst,trn_idn,tst_idn])
gc.collect()

11

**Handling nan**

In [5]:
all_columns=[]

In [6]:
a=list(train.filter(regex='id'))
b=list(test.filter(regex='id'))
dk={}
for i,j in zip(a,b):
  dk[j]=i
test.rename(columns=dk,inplace=True)

Checking nan

In [8]:
ls=list(test)
ln=len(train)
dk={}
for col in ls:
  percent=100*train[col].isna().sum()/ln
  dk[col]=percent
df=pd.DataFrame(dk,index=[1])
df=df.T
df.columns=['nan']
df['columns']=df.index
df=df.reset_index(drop=True)
df

           nan         columns
0     0.000000   TransactionID
1     0.000000   TransactionDT
2     0.000000  TransactionAmt
3     0.000000       ProductCD
4     0.000000           card1
..         ...             ...
428  76.126088           id_36
429  76.126088           id_37
430  76.126088           id_38
431  76.155722      DeviceType
432  79.905510      DeviceInfo

[433 rows x 2 columns]

Dropping columns with greater than 75 percent nan

In [9]:
dps=df.loc[df['nan']>75]['columns'].values
train=train.drop(dps,1)
test=test.drop(dps,1)
del([df])
gc.collect()

11




*   Get sum of nan for categorical and continuous columns
*   Fill Cs and Ds by -999 other numerical by mean and categorical by 'nan'
*   Get indicator for each column nan

Getting an indicator column for each column for nan

In [10]:
ls=list(test)
cat=list(test.select_dtypes(include=object))
for col in ls:
  if train[col].isna().sum()>0:
    all_columns+=[col+'_isna']
    train[col+'_isna']=train[col].isna().astype('uint8')
    test[col+'_isna']=test[col].isna().astype('uint8')

Seperating numerical and categorical type columns

In [12]:
categorical = ["ProductCD", "card1", "card2", "card3", "card4", "card5", "card6", "addr1", "addr2",
               "P_emaildomain",'P_emaildomain_first','P_emaildomain_second', "R_emaildomain",
              "DeviceInfo", "DeviceType"] + ["id_0" + str(i) for i in range(1, 10)] +\
                ["id_" + str(i) for i in range(10, 39)] + \
                 ["M" + str(i) for i in range(1, 10)]
categorical=list(set(categorical).intersection(set(list(test))))
numerical = ["TransactionAmt", "dist1", "dist2","day","week","year"] + ["C" + str(i) for i in range(1, 15)]+["D" + str(i) for i in range(1, 16)]+["V" + str(i) for i in range(1,340)]
numerical=list(set(numerical).intersection(set(test)))
all_columns+=numerical

In [13]:
train[numerical].filter(regex='D').fillna(-999,inplace=True)
test[numerical].filter(regex='D').fillna(-999,inplace=True)

In [14]:

train[numerical].filter(regex='C').fillna(-999,inplace=True)
test[numerical].filter(regex='C').fillna(-999,inplace=True)

In [15]:
for col in numerical:
  train[col]=train[col].fillna(train[col].mean())
  test[col]=test[col].fillna(test[col].mean())
for col in categorical:
  train[col]=train[col].fillna('nan')
  test[col]=test[col].fillna('nan')


















**Creating New columns**

Nan count for each types

In [16]:
def num_cat(df,typ,nme):
  df[nme]=0
  for col in typ:
    try:
      df[nme]+=df[col+'_isna']
    except:
      continue
  return df
all_columns+=['numerical','categorical']
train=num_cat(train,numerical,'numerical')
train=num_cat(train,categorical,'categorical')


test=num_cat(test,numerical,'numerical')
test=num_cat(test,categorical,'categorical')

Seems we can split p_emaildomain into parts before and after '.'

In [17]:
def second(data):
  return data[data.find('.'):]
def first(data):
  return data[:data.find('.')]
categorical+=['P_emaildomain_first','P_emaildomain_second']
train['P_emaildomain_first']=train['P_emaildomain'].apply(first)
train['P_emaildomain_second']=train['P_emaildomain'].apply(second)
test['P_emaildomain_first']=test['P_emaildomain'].apply(first)
test['P_emaildomain_second']=test['P_emaildomain'].apply(second)

Getting dummies of top 10 most common categories and label encoding of card1 and id_02 since they have many categories

In [19]:
from sklearn.preprocessing import LabelEncoder
from tqdm import tqdm
def top_n(categorical,fnl,n):
  cols_name=[]
  for col in tqdm(categorical):
        print(col)
        print('before '+str(fnl[col].nunique()))
        fnl.loc[~fnl[col].isin(list(fnl[col].value_counts().index[:n])),col]='other'
        print('before '+str(fnl[col].nunique()))
        if col!='card1' or col !='id_02':
            fnl_dum=pd.get_dummies(fnl[col]).astype('uint8')
            fnl_dum.columns=list(np.char.add(col,np.asarray(list(fnl_dum)).astype(str)))
            fnl_dum.columns=fnl_dum.columns+'_dum'
            cols_name.extend(list(fnl_dum.columns))
            #fnl=fnl.drop([col],1)
            fnl=pd.concat([fnl,fnl_dum],1)
            del([fnl_dum])
            gc.collect()
        else:
          le=LabelEncoder()
          fnl[col]=le.fit_transform(fnl[col]).astype('uint8')
  return fnl,cols_name
print(train.shape)
print(test.shape)
df,new_cols=top_n(categorical,pd.concat([train,test],0).reset_index(drop=True),50)
all_columns+=new_cols
print(df.shape)

(590540, 435)
(506691, 435)

  0%|          | 0/21 [00:00<?, ?it/s]

M1
before 3
before 3

  5%|▍         | 1/21 [00:00<00:15,  1.32it/s]

ProductCD
before 5
before 5

 10%|▉         | 2/21 [00:03<00:25,  1.36s/it]

M2
before 3
before 3

 14%|█▍        | 3/21 [00:05<00:25,  1.41s/it]

card3
before 134
before 51

 19%|█▉        | 4/21 [00:06<00:25,  1.51s/it]

M5
before 3
before 3

 24%|██▍       | 5/21 [00:08<00:23,  1.48s/it]

M7
before 3
before 3

 29%|██▊       | 6/21 [00:09<00:21,  1.45s/it]

M4
before 4
before 4

 33%|███▎      | 7/21 [00:11<00:20,  1.45s/it]

addr2
before 94
before 51

 38%|███▊      | 8/21 [00:12<00:19,  1.52s/it]

P_emaildomain
before 61
before 51

 43%|████▎     | 9/21 [00:14<00:18,  1.57s/it]

card1
before 17091
before 51

 48%|████▊     | 10/21 [00:16<00:18,  1.64s/it]

card5
before 139
before 51

 52%|█████▏    | 11/21 [00:17<00:16,  1.68s/it]

M6
before 3
before 3

 57%|█████▋    | 12/21 [00:19<00:14,  1.63s/it]

M3
before 3
before 3

 62%|██████▏   | 13/21 [00:20<00:12,  1.60s/it]

card4
before 5
before 5

 67%|██████▋   | 14/21 [00:22<00:11,  1.59s/it]

card2
before 502
before 51

 71%|███████▏  | 15/21 [00:24<00:09,  1.66s/it]

addr1
before 442
before 51

 76%|███████▌  | 16/21 [00:26<00:08,  1.71s/it]

M8
before 3
before 3

 81%|████████  | 17/21 [00:27<00:06,  1.67s/it]

card6
before 5
before 5

 86%|████████▌ | 18/21 [00:29<00:04,  1.65s/it]

M9
before 3
before 3

 90%|█████████ | 19/21 [00:30<00:03,  1.63s/it]

P_emaildomain_first
before 47
before 47

 95%|█████████▌| 20/21 [00:32<00:01,  1.68s/it]

P_emaildomain_second
before 13
before 13

100%|██████████| 21/21 [00:34<00:00,  1.64s/it]

(1097231, 895)

In [20]:
train=df.loc[:590539].reset_index(drop=True)
test=df.loc[590540:].reset_index(drop=True)
print(train.shape)
print(test.shape)
del([df])
gc.collect()

(590540, 895)
(506691, 895)

0

Convert TransactionDT to day,month,year

In [21]:
def time(df):
  df['day']=df['TransactionDT']//86400
  df['week']=df['TransactionDT']//(86400*7)
  df['month']=df['TransactionDT']//(86400*30)
  return df
train=time(train)
test=time(test)
all_columns+=['day','week','month']

Creating new columns

In [22]:
for i in [1,2,3,4,5,10,11,15]:
  all_columns+=['d_'+str(i)]
  train['d_'+str(i)]=train['day']-train['D'+str(i)]
  test['d_'+str(i)]=test['day']-test['D'+str(i)]

Creating id

In [23]:
train['id']=''
test['id']=''
all_columns+=['id']
for col in ['C1','C13','P_emaildomain','addr1','card1','d_1']:
  train['id']+=train[col].astype(str)
  test['id']+=test[col].astype(str)

**Final Preprocessing**

Reducing memory used

In [24]:
def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [25]:
train=reduce_mem_usage(train)
test=reduce_mem_usage(test)
ids=[]

Memory usage of dataframe is 1460.90 MB
Memory usage after optimization is: 1054.88 MB
Decreased by 27.8%
Memory usage of dataframe is 1253.47 MB
Memory usage after optimization is: 901.39 MB
Decreased by 28.1%

Standarizing data

In [26]:
def fill(df,numerical,ids):
  for col in (numerical+ids):
    if df[col].skew()>1:
        df[col]=np.log10(df[col]+1-min(0,min(df[col])))
    mn=df[col].mean()
    std=df[col].std()
    df[col]=(df[col]-mn)/(std+1e-6)
    return df
train=fill(train,numerical,ids)
test=fill(test,numerical,ids)

Saving data into drive

In [29]:
import warnings
warnings.filterwarnings('ignore')


all_columns.remove('V104')


test=test[all_columns]
all_columns+=['isFraud']
train['isFraud']=isFraud
train=train[all_columns]


test.to_csv(F"/content/gdrive/My Drive/fraud/test.csv")
train.to_csv(F"/content/gdrive/My Drive/fraud/train.csv")

all_columns consists of 
**categorical**
1. id  
2. emaildomain split
3. dummies
4. categorical
5. isna flags
**numerical**

6. date, month  
7. nan sum
8. d
9. numerical

**Takeaway points**
1. Included columns with less than 75 percent nanas
2. Got indicator for nan columns
3. Split emaildomain after the '.'
4. For each categorical columns got dummies of top 10 most frequent value 
5. Since D columns were difference in days created columns by subtracting from days
6. Filled nan of conitnuous columns by mean and for categorical columns by 'nan' and Cs and Ds by -999